@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-chateau-50: #f5f7f8;
  --color-gray-chateau-100: #eeeff1;
  --color-wild-sand-100: #edeef1;
  --color-wild-sand-600: #566173;
  --color-esmerald-500: #2bbc68;
  --color-esmerald-700: #1B7A43;
  --color-roman-500: #eb5757;
  --color-roman-700: #B42121;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}


